$colorTheme: #c9c1dd;
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    &::before{
        content: "";
        position: absolute;
        //display: block;
        height: 2px;
        width: 780px;
        background-color: #000;
    }
}
.mainRefs{
    width: 360px;
    margin-bottom: 20px;
}
.link{
    text-decoration: none;
    color: #000;
    &:hover{
        color: $colorTheme;
        text-decoration:underline;
}
}
.app{
    margin-left: 250px;
    margin-right: 250px;
}
